NODE_ENV=development
PORT=3333
CORS_ORIGIN=http://localhost:3000

POSTGRES_DB=newsletter_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5433

DATABASE_URL="postgresql://postgres:postgres@localhost:5433/newsletter_db?schema=public"

# Gere com: openssl rand -hex 32
JWT_SECRET="<SUA_CHAVE_JWT>"
JWT_EXPIRES_IN="1d"

REDIS_HOST=localhost
REDIS_PORT=6379

AI_PROVIDER=mock
OPENAI_API_KEY="<CHAVE_DE_API>"
OPENAI_MODEL=""
ANTHROPIC_API_KEY="<CHAVE_DE_API>"
ANTHROPIC_MODEL=""
OPENROUTER_API_KEY="<CHAVE_DE_API>"
OPENROUTER_MODEL=""
