NODE_ENV=development
PORT=3333

POSTGRES_DB=newsletter_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5433

DATABASE_URL="postgresql://postgres:postgres@localhost:5433/newsletter_db?schema=public"

JWT_SECRET="dev_secret_change_later"
JWT_EXPIRES_IN="1d"

REDIS_HOST=localhost
REDIS_PORT=6379

AI_PROVIDER=mock
OPENAI_API_KEY=""
OPENAI_MODEL="gpt-4o-mini"
ANTHROPIC_API_KEY=""
ANTHROPIC_MODEL="claude-3-5-haiku-latest"
